<footer>
  <div class="f-info">
    <div class="company-info">
      <a>&#169;2026 HomeHooper, Inc.</a>
      <a href="/privacy" class="f-legal">&#183; <span class="span-legal">Privacy</span> </a>
      <a href="/terms" class="f-legal">&#183; <span class="span-legal">Terms</span></a>
      <a href="/comany_details" class="f-legal">&#183; <span class="span-legal">Company details</span></a>
    </div>
    <div class="social">
      <a href="" class="locale lang"><i class="fa-solid fa-globe"></i> English(IN)</a>
      <a href="" class="locale currency"><i class="fa-solid fa-indian-rupee-sign"></i> INR</a>
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-brands fa-x-twitter"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
</footer>
